* {
  box-sizing: border-box;
}

body {
  font-family: 'Work Sans', sans-serif;

}

:root {
  --main-color: #10cab7;
  --secondary-color: #2c4755;
  --section-padding: 60px;
  --section-background: #f6f6f6;
  --main-duration: 0.5s
}


/* main components start*/

h2 {
  color: #ebeced;
  font-size: 100px;
  text-align: center;
  font-weight: 800;
  letter-spacing: -3px;
  margin: 0;
}


h2+p {

  margin: -30px 0 0;
  font-size: 20px;
  text-align: center;
  color: #797979;
}

/* main components end*/

/* header start */

header {
  padding: 20px;
}


.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}


header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

header img {
  width: 60px;
}

.icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;

}

.icon span {
  display: inline-block;
  width: 100%;
  height: 2px;
  background-color: #333;
  margin-bottom: 5px;
}

.icon span:nth-child(2) {
  width: 60%;
  transition: var(--main-duration);
}

.links {
  position: relative;
}

.links ul {
  background-color: #f6f6f6;
  list-style: none;
  margin: 0px;
  padding: 0px;
  width: 200px;
  position: absolute;
  top: 31px;
  right: 0px;
  display: none;
}

.links ul a {
  display: block;
  text-decoration: none;
  color: initial;
  padding: 15px;
  transition: var(--main-duration);
}

.links ul li:not(:last-child) {
  border-bottom: solid 1px #ddd;
}

.links ul:after {
  content: '';
  position: absolute;
  border: 10px solid;
  border-color: transparent transparent #f6f6f6 transparent;
  top: -20px;
  right: 5px;
}


.links:hover ul {
  display: block;
}

.links:hover span span:nth-child(2) {
  width: 100%;
}

.links ul a:hover {
  padding-left: 25px;
}

/* 
 // Small devices (landscape phones, 576px and up) 
@media (min-width: 576px) { ... } 
*/

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }

  .services .image-column {
    display: block;
  }
}

/* 
 // XX-Large devices (larger desktops, 1400px and up) 
@media (min-width: 1400px) { }
 */

/* header ends */



/* lanscape start */


.landscape {
  height: calc(100vh - 64px);
  background-image: url(landing.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.intro-text {
  width: 320px;
}

.intro-text h1 {
  font-size: 50px;
  margin: 0px;
  color: var(--main-color);
  text-transform: capitalize;
}

.intro-text p {
  font-size: 19px;
  line-height: 1.8;
}


/* landing end */


/* features start */

.features {
  padding: 60px 0px;
  background-color: var(--section-background);
}

.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  padding: 0px 15px;
  margin: auto;
}


.features .container .feat {
  padding: 20px;
  text-align: center;
}



.features .container .feat i {

  color: var(--main-color);
}


.features .container .feat h3 {
  font-weight: 800;
  margin: 30px 0px;
}


.features .container .feat p {
  color: #777777;
  font-size: 17px;
  line-height: 1.8;
}

/* feature end */



/* service start */

.services {
  padding: var(--section-padding) 0px;
}

.services-content {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
}

.srv {
  display: flex;
  margin-bottom: 40px;
}


.srv i {
  color: var(--main-color);
  flex-basis: 60px;
}

.srv .text {
  flex: 1;
}

.srv h3 {
  margin: 0px 0px 20px;
}

.srv p {
  color: #444;
  font-weight: 300;
  line-height: 1.6
}


.services-content img {
  width: 260px;
}

.services .image-column {
  text-align: center;
  position: relative;
}

.services .image-column::after {
  content: '';
  position: absolute;
  background-color: var(--secondary-color);
  width: 100px;
  height: calc(100% + 90px);
  top: -45px;
  right: 0px;
  z-index: -1;
}


@media (max-width:767px) {
  .srv {
    flex-direction: column;
    text-align: center;
  }

  h2 {
    font-size: 60px;
  }

  h2+p {
    margin-top: -15px;
  }
}

@media (max-width: 1199px) {

  .services .image-column {
    display: none;
  }

}


/* services end */


/* portfolio start */

.portfolio {
  padding: var(--section-padding) 0px;
  background-color: var(--section-background);
}

.portfolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  margin-top: 100px;
}

.card {
  background-color: white;
}

.card img {
  max-width: 100%;
}

.card {}

.portfolio .desc {
  padding: 20px;
  line-height: 1.8;
}


/* portfolio end */


/* about start */

.about {
  padding-top: var(--section-padding);
  padding-bottom: calc( var(--section-padding) + 60px);
}

.about .about-content .col:nth-child(1) {
  position: relative;
  width: 250px;
  height: 375px;
}
@media (max-width: 991px) {
  .about-content {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  
  .about .about-content .col:nth-child(1) {
    margin: 0 auto 60px;
  }

}

.about .about-content .col:nth-child(1)::before {
  content: "";
  position: absolute;
  background-color: #ebeced;
  width: 100px;
  height: calc(100% + 80px);
  top: -40px;
  left: -20px;
  z-index: -1;
}
.about .about-content .col:nth-child(1)::after {
  top: -40px;
  content: "";
  position: absolute;
  width: 120px;
  height: 300px;
  border-left: 80px solid var(--main-color);
  border-bottom: 80px solid var(--main-color);
  z-index: -1;
  right: -150px;
}

@media (max-width: 991px) {
  .about .about-content .col:nth-child(1)::before,
  .about .about-content .col:nth-child(1)::after {
    display: none;
  }
}


.about .about-content img {
  width: 100%;
}


.about .about-content .col:nth-child(2) {
  flex-basis: calc(100% - 500px);
}


.about-content {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about-content .col:nth-child(2) p:nth-of-type(1){
  font-weight: bold;
  line-height: 2;
  margin-bottom: 50px;
}


hr {
  width: 50%;
  display: inline-block;
  border:1px solid var(--main-color) ;
  /* margin-left: 0px; */
}

.about-content .col:nth-child(2) p:nth-of-type(2){
  line-height: 2;
  color: #777;

}

.about-content img {
  width: 100%;
}

